<!-- Table -->
<div class="card shadow mb-4 mt-t">
  <div class="card-header py-3">
    <a href="/admin/booking" class="btn btn-warning">Back</a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img
          src="http://localhost:3000/<%= booking.payments.proofPayment %>"
          style="width: 100%; display: block"
          alt="image"
        />
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTableActivity"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Total</th>
                <th>Invoice</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%- booking.memberId.firstName %> <%-
                  booking.memberId.lastName %>
                </td>
                <td>$ <%- booking.total %></td>
                <td><%- booking.invoice %></td>
                <td><%- booking.itemId.title %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row mr-auto">
          <% if(booking.payments.status == 'Proses'){ %>
          <form
            action="/admin/booking/<%- booking.id %>/confirm?_method=PUT"
            method="POST"
          >
            <button class="btn btn-success btn-md" type="submit">
              <i class="fas fa-check"></i>
              Confirm
            </button>
          </form>
          <form
            action="/admin/booking/<%- booking.id %>/reject?_method=PUT"
            method="POST"
          >
            <button class="btn btn-danger btn-md" type="submit">
              <i class="fas fa-times"></i>
              Reject
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- AkhirTable -->
