<div id="show-facility" class="tab-pane fade show active">
  <!-- Table -->
  <div class="card shadow mb-4 mt-t active">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <h3>Facility</h3>
          <form
            action="/admin/item/add/facility"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="name">Facility Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Enter facility name"
                name="name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="qty">Quantity</label>
              <input
                type="number"
                class="form-control"
                id="qty"
                placeholder="Enter Quantity"
                name="qty"
                required
              />
            </div>
            <div class="mb-3">
              <label for="image">Image</label>
              <input
                type="file"
                class="form-control"
                id="image"
                name="image"
                required
              />
            </div>
            <div>
              <input type="text" value="<%= itemId %>" name="itemId" hidden />
              <button type="submit" class="btn btn-primary">Save</button>
              <a href="/admin/item" class="btn btn-warning">Back</a>
            </div>
          </form>
        </div>
        <div class="col-md-7">
          <div class="table-responsive">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>No</th>
                  <th>Name</th>
                  <th>Qty</th>
                  <th>Image URL</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < facility.length; i++){ %>
                <tr>
                  <td><%- i+1 %></td>
                  <td><%- facility[i].name %></td>
                  <td><%- facility[i].qty %></td>
                  <td>
                    <img
                      src="http://localhost:3000/<%- facility[i].imageUrl %>"
                      alt="imageUrl"
                      height="50px"
                      width="50px"
                    />
                  </td>
                  <td>
                    <form
                      action="/admin/item/<%- itemId %>/facility/<%- facility[i].id %>?_method=DELETE"
                      method="POST"
                    >
                      <a
                        href="javascript:void()"
                        type="button"
                        class="btn btn-warning btn-circle btn-sm button-update"
                        data-id="<%= facility[i].id %>"
                        data-facilityname="<%= facility[i].facilityName %>"
                        data-rekening="<%= facility[i].rekeningNumber %>"
                        data-username="<%= facility[i].userName %>"
                      >
                        <i class="fas fa-edit"></i>
                      </a>
                      <button
                        class="btn btn-danger btn-circle btn-sm"
                        type="submit"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </td>
                </tr>

                <% }%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- AkhirTable -->
</div>
